main {
    background-color: #eee;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

.top-right {
  position: absolute;
  top: 1vh;
  right: 1vw;
}

.mobile {
  max-width: 90vw;
}

@media screen and (min-width: 400px) {
  .mobile {
    max-width: 55vw;
  }
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

p {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
a {
    vertical-align: middle;
    margin: 0%;
    text-align: right;
    transition: all 0.3s ease;
    color: white;
  }

  .social {
    font-size: 5vw;
    text-align: center;
    text-decoration: none;
  }

  @media screen and (min-width: 400px) {
    .social {
      font-size: 3vw;
      text-align: center;
      text-decoration: none;
    }
  }

  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }

  .facebook {
    /* background: #3B5998; */
    color: white;
    /* font-size: 1vh; */
  }
  
  .soundcloud {
    /* background: #ff5500; */
    color: white;
  }
  
  .youtube {
    /* background: #bb0000; */
    color: white;
  }

  .instagram {
    /* background: #125688; */
    color: white;
  }